@{ ViewBag.Title = "Home Page"; }

<style>
    body {
        background-color: #272121;
        color: white;
    }

    .btn-dark, btn, btn-large, .btn-dark:active, .btn-dark:visited {
        background-color: gray;
        color: black;
        border-color: white;
    }

        .btn-dark:hover {
            background-color: #272121;
            color: gray;
            border-color: gray;
        }

    .link {
        color: white;
        padding: 500px;
    }

    .jumbotron {
        color: #272121;
        background-color: gray;
    }
</style>

<div class="jumbotron">
    <h1>Alfred RPG</h1>
    <p class="lead">Projeto Acadêmico Ficha RPG</p>
    <p><a href="https://github.com/GustavoBaco/Ficha-RPG" class="btn btn-dark btn-lg">Repositório do Projeto &raquo;</a></p>
</div>


    <footer class="navbar-fixed-bottom"><h4><strong>Alunos : Gustavo Baco Manciope e Samuel Esteves Silva</strong></h4></footer>


    @*
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@
